<h2> Edit a venue</h2>
<%= render partial: "form" %>

<!-- Delete wouldn't work?? -->


<% if !@venue.concerts %>

<%= form_for @venue, method: :delete do |f| %>
	<%= f.submit 'Delete!', class: 'delete' %>
<% end %>


<% end %>
