<h2>Welcome to <span class="track12">Track 12</span></h2>

<% if current_user %>

<p>Check out the menu above to see the concerts you're going to, or to add a new one!</p>

<% else %>

<p>With Track 12, you can get all the information about upcoming concerts in your area, see who else is going, and invite your friends - all in one easy place! <%= link_to "Sign up today", new_user_registration_path %> - it'll only take a moment.</p>

<% end %>

<h3>All Upcoming Concerts</h3>
<% @concerts.each do |concert| %>
	<% if concert.date > Date.today %>
		<p><%= link_to "#{concert.headliner}", concert_path(concert) %>, <%= "#{concert.date.strftime("%b. %d, %Y")} at #{concert.venue.name}" %>
	<% end %>
	</p>
<% end %>