/* Colors
Red: #A8003B
cream: #FCF7D7
grey: #CFCFCA
*/


* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Biryani', sans-serif;
  background: #FCF7D7;
  /*margin-left: 200px;
  margin-right: 200px;*/
  color: #274459;
  /*F1FFC9*/
}

div#nav {
  background-color: black;
  color: white;
  font-size: 20px;
  height: 45px;
  padding: 0px;
  display: flex;
  padding-left: 10px;
  padding-top: 5px;
}

ul#nav {
  list-style-type: none;
}

ul#attendances {
  margin-left: 30px;
}

li.nav {
  display: inline;
  font-size: 18px;
  padding-left: 15px;
}

li#home {
  font-family: 'Berkshire Swash', cursive;
  display: inline;
  font-size: 30px;
  padding-right: 10px;  
  /* why doesn't that work when I try a %? */
}

#nav a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

#nav a:hover {
  color: #A8003B;
}

#content {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 40px;
}

p {
  padding-top: 5px;
  }

p.notice {
  color: darkgrey;
}

/*.boardGallery a {
  text-decoration: none;
  background-color: #CFCFCA;
  margin: 20px;
  padding: 40px;
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #A8003B;
  border-radius: 5px;
}*/


h3 {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 20px;
}

h2 {
  color: #A8003B;
}

.track12 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 1.3em;
}

#track12nav {
  font-size: 1.5em;
  font-family: 'Berkshire Swash', cursive;
  color: #A8003B;
}

.delete {
  background-color: red;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.enter {
  background-color: #A8003B;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  display: inline-block;
}

.enter a {
  color: white;
  text-decoration: none;
}

img {
  border-radius: 5px 5px;
  width: 500px;
}

.field {
  width: 500px;
}
